.bridge {
	background-image: -webkit-linear-gradient(top, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
	background-image: linear-gradient(-180deg, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
	margin: 0px;
}

body {
	/* font-family: "Arial"; */
	/* font-family: "Tahoma", sans-serif; */
	font-family: HelveticaNeueW01-Thin,HelveticaNeueW02-Thin,HelveticaNeueW10-35Thin,sans-serif;
  /* font-family: 'Josefin Slab', serif; */
	margin: auto;
	border: 1px solid #CCC;
	box-shadow: 10px 10px 5px #888888;
}

header {
	font-size:large;
	font-weight: bolder;
	width: 100%;
	background-color: #5ebcae;
	margin: 0px;
	padding: 0px;
	display: flex;
	position: fixed;
	justify-content: space-between;
}

.head,h1{
	margin: 0px;
	padding: 0px;
}

.formulaire{
	display:flex;
	justify-content: flex-start;
	width: 50%;
	height: 35px;
	margin-top: 10px;
	margin-right: 22%;
}

.formulaire .champ{
	width: 90%;
	height:35px;
	background-color: #ffff;
	border: solid 1px #7a5440;
	border-right: solid 0px;
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	font-family: arial, verdana, sans-serif;
	font-size: 20px;
	margin: 0px;
	padding: 2px;

}

.formulaire .bouton{
	background-color: #F4A460;
	background-repeat: no-repeat;
	border-radius: 10px,10px,0px,0px;
	width: 35px;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border-left: solid 0px;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	vertical-align: top;
	border: solid 1px #7a5440;
	border-left: solid 0px;
}


/**************************************************************
* Adapte la taille de l'image dans le header
**************************************************************/
header img {
	width: 10%;
	height: 50%;
}

header p {
		margin: 0px;
}

header h1 {
	padding-left : 20px;
	color: #fff;
}

nav ul{
	background-color: lightgrey;
	font-size: 1.2em;
	list-style-type:none;
	display : flex;
	justify-content: center;
	margin-top : 70px;
	font-weight: bold;
}

nav ul li ul{
	display:none;
	position:absolute;
	margin-top: 0px;
	padding : 0px;
	justify-content: center;
}
nav ul li ul li a{
	border-left: none;
	border-right: none;
	padding : 5px 5px;
	display: block;
}
nav ul li:hover ul{
	display:block;
}
nav ul li:hover ul li{
	float:none;
}

nav ul li a{
	display: inline-block;
	color: white;
	padding:5px 20px;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

li a:link {
	text-decoration:none;
	color: #5ebcae;
}

li a:visited {
	text-decoration:none;
	color: #5ebcae;
}

li a:hover {
	text-decoration:none;
	color: tomato;
}


article {
  width: 220px;
  height: 200px;
  border: 1px solid grey;
	padding:10px;
	margin : 5px;
	text-align: center;
}
article h2 {
		font-size:small;
}

article img {
	   width: 100px;
}

section{
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content :center;
	max-width: 840px;
}

div img{
	width: 100px;
	height: 100px;
}
